<div>
  <ul>
    <li >
      <%= erb(:'partials/_create', layout: false,  locals: {createable: WHATEVER}) %>
    </li>
    <li >
     <%= erb(:'partials/_read', layout: false,  locals: {readable: WHATEVER}) %>
    </li>
    <li>
    </li>
    <li>
      <%= erb(:'partials/_update', layout: false,  locals: {updateable: WHATEVER}) %>
    </li>
    <li>
      <%= erb(:'partials/_update', layout: false,  locals: {deleteableable: WHATEVER}) %>
    </li>
  </ul>
<div>
